* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* No dragging, highlighting, or tap zooming */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  color: hsl(180, 100%, 50%);
  background-color: hsl(244, 29%, 22%);
}

.game-container {
  cursor: url(images/greendot.cur), auto;
}

.target {
  position: absolute;
  z-index: 999;
  border-radius: 100%;
  box-shadow: 4px 4px 9px -2px hsla(0, 0%, 0%, 0.6);
  transition: 0.1s;
}

.stats {
  border: 1px solid fire;
  position: fixed;
  z-index: 0;
  margin: 20px;
  width: 150px;
  text-align: center;
  line-height: 24px;
  font-weight: 500;
  color: hsl(172, 100%, 70%);
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.stats h4 {
  color: hsl(291, 69%, 75%);
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  cursor: default;
  height: auto;
}

#gamemode-menu,
#option-menu {
  position: fixed;
  bottom: 0;
}

#gamemode-menu {
  right: 30vw;
}

#option-menu {
  left: 30vw;
}

.menu .gamemodes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.menu .options {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

button {
  height: 30px;
  /* Button Style*/
  border: none;
  border-radius: 10px 10px 0px 0px;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.6;
  color: #fff;
  transition: 0.3s;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.shortflicks-img,
.freetrain-img {
  padding-top: 10px;
  width: 70px;
  height: auto;
}

.range-slider {
  width: 120px;
}

/* JS appended Classes */

.collapsed {
  max-height: 0px;
}
